<template>
  <div>
    <h1>此页假定是主页</h1>
    <div>
      点击按钮去往"新闻"页
      <button>
        <router-link to="/news">
          跳转
        </router-link>
      </button>
    </div>
  </div>
</template>
